body {
	background: #666;
	color: #f3f3f3;
}

ul{
	list-style: none;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li{
	display: inline;
}

.commands{
	display: inline-table;
	margin-left: 20px;
	margin-right: 20px;
}

.main {
	text-align: center;
	margin-top: 70px;
}

i{
	font-size: 40px;
	opacity: 0.70;
}

.main-footer{
	font-size: 20px;
	margin-bottom: 20px;
	font-family: monospace;
 }

 .btn-left {
	margin-right: 30px;
 }

 .btn-right {
	margin-left: 30px;
 }

 .configs {
	margin-top: 25px;
 }

 .btn-up{
	margin-bottom: 15px;
 }

 .btn-fone , .btn-rss{
	margin-right: 15px;
 }

 .light{
	margin-top: 53px;
 }

 .sliders-light{
	width: 150px;
 }

.icon-sliders{
	margin-bottom: 10px;
}

/* INÍCIO BOOSTRAP - MY BOOSTRAP */
 .btn {
  display: inline-block;
  padding: 1.5px 3px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
}
/* FIM BOOSTRAP - MY BOOSTRAP */

hr{
	margin-top: 65px;
}

@media (max-width: 634px) {
	li{
		display: block;
	}

	.buttons{
		margin-top: -20px;
	}

	.light{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.configs{
		margin-top: 10px;
		margin-bottom: 20px;
	}

	hr{
		margin-top: 20px;
		margin-bottom: 20px;
	}
 }
